<div class="fondo">
<div class="container" style="
width: 89%;
height: 50%;
margin-left: 22px;">
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
      <div class="card">
        <img  class="img-thumbnail"  src="./assets/imagenes/adivinaprovincia.png" alt="Avatar" style="width:100%">
        <h1>Adivina la Provincia</h1>
        <p class="title">Juega de Conocimiento</p>
        <p>UTN FRA </p>
        
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <p>           <button class="button"  (click)="Juego('AdivinaProvincia')">Jugar</button></p>
    </div>
  </div>
</div>